package views

import "github.com/raphael-foliveira/goth-boilerplate/views/partials"

type ContainerProps struct {
	Title string
	Name  string
}

templ HelloContainer(props ContainerProps) {
	@partials.BaseComponent() {
		<div class="w-full text-center p-32">
			<h1 class="text-8xl">{ props.Title }</h1>
			@Hello(props.Name)
		</div>
	}
}
